<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">1</h4>
</div>

<div class="modal-body" style="display: inline-block;">
                                   <!-- <table class="table table-bordered table-striped">
                                        <tbody>
                                          <tr>
                                            <td>订单编号:</td>
                                            <td>SADSADA</td>
                                            <td>订单时间:</td>
                                            <td>2015/11/11 18:30</td>
                                          </tr>
                                          
                                         
                                        </tbody>
                                      </table>-->


        <div class="col-md-6">
                      订单编号:SADSADA
        </div>
       
         <div class="col-md-6">
                    订单时间:2015/11/11 18:30 
        </div>
         <div class="col-md-6">
                   省份/城市:安徽合肥   
        </div>
        <div class="col-md-6">
                    下单会员:小小俊
        </div>
        <div class="col-md-6">
                    手机号:1388888888
        </div>
        <div class="col-md-6">
                    接单母婴店:SADSADA
        </div>
        <div class="col-md-6">
                    母婴店编号:SADSADA
        </div>
        <div class="col-md-6">
                    订单状态:SADSADA
        </div>
        <div class="col-md-6">
                    关联支付单号:SADSADA
        </div>
        <div class="col-md-6">
                    支付方式:SADSADA
        </div>

        <div class="col-md-6">
                    订单金额:SADSADA
        </div>

         <div class="col-md-6">
                    平台分成比例:SADSADA
        </div>
        <div class="col-md-6">
                    母婴店收益:SADSADA
        </div>
        <div class="col-md-6">
                    订单金额:SADSADA
        </div>

         <div class="col-md-12">
                   
        </div>
        


        <div class="col-md-12">

                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                 商品明细
                                    <div class="actions pull-right">
                                    
                                    </div>
                                  </div>
                                  <div class="panel-body">

                                    <div class="table-responsive">
                                      <table class="table table-bordered table-striped">
                                        <thead>
                                          <tr>
                                            <th>商品编号</th>
                                            <th>商品品牌</th>
                                            <th>商品名称</th>
                                            <th>规格</th>
                                            <th>单价</th>
                                            <th>数量</th>
                                            <th>合计</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>1</td>
                                            <td>安徽</td>
                                            <td>合肥合肥合肥合肥合肥合肥合肥合肥合肥合肥合肥</td>
                                            <td>20</td>
                                            <td>100</td>
                                            <td>20</td>
                                            <td>20</td>
                                          </tr>
                                          
                                         
                                        </tbody>
                                      </table>
                                    </div>

                            </div>
                        </div>
                    </div>




</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">返回</button>
</div>