<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo">
       
      <img src="http://o2ostore.syisy.com/img/logo.png" > <span>欢迎访问商易链管理后台{{main.projectBoldName}}</span>{{main.projectName}}</a>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-right">
     <li class="dropdown profile hidden-xs">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <span class="meta">
                <!--<span class="avatar">
                 <img src="http://o2ostore.syisy.com/img/logo.png" class="img-circle" alt=""> 
                </span>-->
                <span class="text">欢迎回来&nbsp;,&nbsp;&nbsp;{{User_name}}</span>
                
            </span>
        </a>
        


    </li>



       <li class="dropdown profile hidden-xs">
        <a href="javascript:void(0);"  class="dropdown-toggle" data-toggle="dropdown" ng-click="logout()">
            <span class="meta">
                <span class="avatar">
                   <!-- <img src="img/profile.png" class="img-circle" alt="">-->
                </span>
                <span class="text">注销</span>
                <span class="glyphicon glyphicon-off"></span>
            </span>
        </a>



    </li>

</ul>