<div class="pageheader" >
  <h1>平台账户管理</h1>
  <div class="breadcrumb-wrapper hidden-xs">
      <span class="label">你的足迹:</span>
      <ol class="breadcrumb">
          <li><a href="index.html">平台账户管理</a>
          
      </ol>
  </div>
</div>

<section id="main-content" class="animated fadeInRight"  ng-controller="adminList">
  <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">平台账户管理</h3>
              </div>
              
              <div class="panel-heading">
                <div class="row">
                     <div class="col-sm-12">
                          权&nbsp;&nbsp;限&nbsp;:&nbsp;<select name="example_length" aria-controls="example" class="input-sm" ng-model="role_ids">
                                   <option value="">全部</option>
                                   <option   ng-repeat="rolelist in role" value="{{rolelist.roleId}}">{{rolelist.roleName}}</option>
                              </select>  &nbsp;&nbsp;&nbsp;
                          状&nbsp;&nbsp;态&nbsp;:&nbsp;<select name="example_length" aria-controls="example" class="input-sm" ng-model="user_state">
                                  <option value="">全部</option>
                                  <option value="0">禁用</option>
                                  <option value="1">正常</option>
                               </select> &nbsp;&nbsp;&nbsp;
                          <input type="text"  class="pub-iput"  placeholder="输入使用人进行查询" ng-model="user_truename">
                         <button type="button" class="btn btn-sm btn-primary " ng-click="search()">搜索账号</button>
                         <a  ui-sref="admin.add"><button type="button" class="btn btn-sm  btn-info"  ng-click="">新建账号</button></a>
                      </div>
                     
                  </div>
              </div> 

             <div class="panel-body" style="">
                 <table id="example" class="table table-striped table-bordered "cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>账号编号</th>
                            <th>注册时间</th>
                            <th>账号</th>
                            <th>使用人</th>
                            <th>电话</th>
                            <th>权限</th>
                            <th>状态</th>
                            <th>操作</th>

                            
                        </tr>
                    </thead>
             
                    <tbody>
                        <tr  ng-repeat="items in rows">
                            <td>{{items.userId}}</td>
                            <td>{{items.insDate| date : 'yyyy年MM月dd日 HH:mm'}}</td>
                            <td>{{items.userName}}</td>
                            <td>{{items.userTruename}}</td>
                            <td>{{items.userPhone}}</td>
                            <td>{{items.roleInfo.roleName}}</td>
                            <td>
                                <span ng-show="items.userState==1">正常</span>
                                <span ng-show="items.userState==0">禁用</span>
                            </td>
                         
                               <td><a><span type="button"  ng-click="adminDetails(items.userId)">查看详情</button></a></td>
                        </tr>
                    </tbody>
                </table>
               
                 <!-- page -->
                  <div>
                      <div uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="10" max-size="10" template-url="views/page/pagination.html" boundary-links="true"></div>
                  </div>
                 <!-- /page -->
              </div>
      </div>
    </div>
  </div>
</section>